.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.customButton {
  cursor: pointer;
  float: right;
  border: none;
  padding: 5px 9px;
  color: #fff;
  margin-left: 5px;
}

.delete {
  background: #ff0000;
  border-radius: 50%;
}

.edit {
  background: green;
  border-radius: 50%;
}